doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Conversatorios Cayetano
        link(rel="stylesheet", href="./css/app.css")
        //- link(rel="stylesheet", href="https://unpkg.com/swiper/swiper-bundle.min.css")
        script(src='https://www.google.com/recaptcha/api.js' async='' defer='')
        //- script(async).
        //-     (function(h,o,t,j,a,r){
        //-     h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        //-     h._hjSettings={hjid:3659234,hjsv:6};
        //-     a=o.getElementsByTagName('head')[0];
        //-     r=o.createElement('script');r.async=1;
        //-     r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        //-     a.appendChild(r);
        //-     })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')
    body
        a.bloqueFloat(href="#crmWebToEntityForm") 
            h3 Quiero participar
        .bloque1
            .bloque1DesktopImage1
                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_deskttop_top1.webp", alt="")
            .bloque1DesktopImage2
                img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_deskttop_top2.webp", alt="")
            .bloque1Container
                .bloque1Open
                    img.logo_top(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_logo_cayetano.webp", alt="")
                    //- img.logo_desktop(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/logo.webp", alt="")
                    img.open_top(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/top_desktop_image.webp", alt="")
                    img.bloque1Desktop(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/top_desktop_image2.webp", alt="")
                    .blooque1Fecha
                        h3  
                           span ¿Eres preseleccionado de Beca 18?
 
                        h2   Descubre lo que Cayetano tiene para ti
                        .blooque1Fecha__bottom
                            h3 Jueves
                                span 23 de enero
                            .blooque1Fecha__bottomOther
                            h3.padd_left Desde las 
                                span 9:30 a.m.
                        .blooque1Fecha__bottom__desktop
                            h3 Jueves
                                br
                                span 23 de enero
                            .blooque1Fecha__bottomOther
                            h3.padd_left Desde las 
                                br
                                span 9:30 a.m.

                .bloque1Form
                    .formContainer(id="crmWebToEntityForm" class="crmWebToEntityForm")
                        meta(name='viewport' content='width=device-width, initial-scale=1.0')
                        meta(http-equiv='content-type' content='text/html;charset=UTF-8')
                        .formTitle
                            h3 Déjanos tus datos
                            h4 y únete a la mejor feria vocacional
                        form.formGrid(action='https://crm.zoho.com/crm/WebToLeadForm' name='WebToLeads3503766000534071729' method='POST' onSubmit="javascript:document.charset='UTF-8'; return checkMandatory3503766000534071729()" accept-charset='UTF-8')
                            input(type='text' style='display:none;' name='xnQsjsdp' value='98a9d2b1825c2cd2cb7426ab18a93c2e7fec4fd6cc771c6d1e8d1976be717ce2')
                            input#zc_gad(type='hidden' name='zc_gad' value='')
                            input(type='text' style='display:none;' name='xmIwtLD' value='081e6f916b6736a749e3875d45626284fef24f14d98172fb8eefdf332a0c37ad228fdb79b02822b46db3cc4670dddc76')
                            input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                            input(type='text' style='display:none;' name='returnURL' value='https://lp.cayetano.edu.pe/open-cayetano-gracias/')
                            .formGridDouble
                                input#First_Name(type="text" name="First Name" maxlength="40" placeholder="Nombres:" required)
                                input#Last_Name(type="text" name="Last Name" maxlength="40" placeholder="Apellidos:" required)
                            .formGridDouble
                                select#LEADCF20(name='LEADCF20' required)
                                    option(value="" disabled selected) Tipo de documento:
                                    option(value='DNI') DNI
                                    option(value='CarnédeExtranjería') Carnet de Extranjeria
                                    option(value='Pasaporte') Pasaporte
                                //- input(id="LEADCF21" type="text" name="LEADCF21" maxlength="20" placeholder="Nro. de documento:" required disabled="true")
                                input(id="LEADCF21" type="text" name="LEADCF21" maxlength="20" placeholder="Nro. de documento:" required)
                            input#Mobile(type="text" name="Mobile" maxlength="9" pattern="9[0-9]{8}" placeholder="Celular:" required)
                            input#Email(type="text" name="Email" maxlength="100" ftype='email' placeholder="Correo:" required)
                            .formGridDouble
                                select#LEADCF6(name="LEADCF6" required)
                                    option(value='' disabled='' selected='') Elige tu carrera:
                                    option(value='ADMINISTRACION') Administración
                                    option(value='ADMINISTRACION EN SALUD') Administración en Salud
                                    option(value='BIOLOGIA') Biología
                                    option(value='EDUCACION') Educación
                                    option(value='ENFERMERIA') Enfermería 
                                    option(value='ESTOMATOLOGIA') Estomatología 
                                    option(value='FARMACIA Y BIOQUIMICA') Farmacia y Bioquimica 
                                    option(value='INGENIERIA AMBIENTAL') Ingeniería Ambiental 
                                    option(value='INGENIERIA BIOMEDICA') Ingeniería Biomédica  
                                    option(value='INGENIERIA INDUSTRIAL') Ingeniería Industrial 
                                    option(value='INGENIERIA INFORMATICA') Ingeniería Informática  
                                    option(value='LABORATORIO CLINICO') Laboratorio Clínico y Anatomía Patológica 
                                    option(value='MEDICINA') Medicina
                                    option(value='MEDICINA VETERINARIA Y ZOOTECNIA') Medicina Veterinaria y Zootecnia 
                                    option(value='NUTRICION') Nutrición 
                                    option(value='PSICOLOGIA') Psicología 
                                    option(value='RADIOLOGIA') Radiología 
                                    option(value='TERAPIA DE AUDICION, VOZ Y LENGUAJE') Terapia de Audición, Voz y Lenguaje
                                    option(value='TERAPIA FISICA Y REHABILITACION') Terapia Física y Rehabilitación
                                    option(value='TERAPIA OCUPACIONAL') Terapia Ocupacional 
                                select#LEADCF22(name="LEADCF22")
                                    option(value='' disabled='' selected='') Horario de Taller:
                            input(type="text" placeholder="Colegio:")
                            select#LEADCF14(name='LEADCF14' required)
                                option(value='' disabled='' selected='') ¿En qué grado estás?
                                option(value='5to de secundaria') 5to. de secundaria
                                option(value='4to de secundaria') 4to. de secundaria
                                option(value='3ro de secundaria') 3ro. de secundaria
                                option(value='Ya termine el colegio') Ya terminé el colegio 
                            .formTerminos#formTerminosSalud(style="display:none")
                                input#privacyTool3503766000237491098(type='checkbox' autocomplete='off' name='privacyTool', class="oprimido")
                                label#labelCheckbox(for='privacyTool3503766000237491098')
                                    a(href="https://cayetano.edu.pe/politica-privacidad/" target="_blank") Quiero Participar en la charla
                            //inputs hidden
                            input#LEADCF183(type='hidden' name='LEADCF183' value='')
                            input#LEADCF189(type='hidden' name='LEADCF189' value='')
                            input#LEADCF24(type='hidden' name='LEADCF24' value='')
                            input#LEADCF184(type='hidden' name='LEADCF184' value='')
                            input#LEADCF182(type='hidden' name='LEADCF182' value='')
                            input#LEADCF22(type='hidden' name='LEADCF22' value='')
                            input#LEADCF168(type='hidden' name='LEADCF168' value='')
                            input#LEADCF203(type='hidden' name='LEADCF203' value='')
                            //- input#LEADCF6(type='hidden' name='LEADCF6' value='ADMINISTRACION')
                            input#LEADCF198(type='hidden' name='LEADCF198' value='')
                            input#LEADCF7(type='hidden' name='LEADCF7' value='Pregrado')
                            .formTerminos
                                input#privacyTool3503766000237491098(type='checkbox' autocomplete='off' name='privacyTool' required)
                                label#labelCheckbox(for='privacyTool3503766000237491098')
                                    a(href="https://cayetano.edu.pe/politica-privacidad/" target="_blank") Política de privacidad y términos de servicio
                            .formButton
                                button 
                                    h3 ¡Quiero participar!
                            script.

                                

                                //- console.log(document.getElementById('tipo-eventos').value)
                                let url = window.location.href
                                let urlValue = document.getElementById('LEADCF168');
                                let inputCheckbox = document.getElementById('LEADCF198');
                                let inputTypeDocument = document.getElementById('LEADCF20');
                                let inputNumDocument = document.getElementById('LEADCF21');
                                var referencia = document.getElementById('LEADCF168');
                                inputTypeDocument.addEventListener("change", () => {
                                    inputNumDocument.removeAttribute("disabled");
                                    inputNumDocument.style.backgroundColor = "#0098e8";
                                })
                                function onlyOne(checkbox, message) {
                                    inputCheckbox.value = message;
                                    var checkboxes = document.getElementsByName('check')
                                    checkboxes.forEach((item) => {
                                        item.removeAttribute("required");
                                        if (item !== checkbox) item.checked = false
                                    })
                                }
                                function privacyAlert3503766000534071729() {
                                    var privacyTool = document.getElementById('privacyTool3503766000534071729');
                                    var privacyErr = document.getElementById('privacyErr3503766000534071729');
                                    if(privacyTool !=undefined && !privacyTool.checked )
                                    {
                                        //- privacyErr.style.visibility='visible';
                                        alert("Porfavor acepte la política de privacidad y términos de servicio")
                                        privacyTool.focus();
                                        return false;
                                    }
                                    return true;
                                }
                                function disableErr3503766000534071729() {
                                    var privacyTool = document.getElementById('privacyTool3503766000534071729');
                                    var privacyErr = document.getElementById('privacyErr3503766000534071729');
                                    if(privacyTool !=undefined && privacyTool.checked && privacyErr !=undefined )
                                    {
                                    privacyErr.style.visibility='hidden';
                                    }
                                }
                                function rccallback3503766000534071729() {
                                    if (document.getElementById('recap3503766000534071729') != undefined) {
                                        document.getElementById('recap3503766000534071729').setAttribute('captcha-verified', true);
                                    }
                                    if (document.getElementById('recapErr3503766000534071729') != undefined && document.getElementById('recapErr3503766000534071729').style.visibility == 'visible') {
                                        document.getElementById('recapErr3503766000534071729').style.visibility = 'hidden';
                                    }
                                }
                                function reCaptchaAlert3503766000534071729() {
                                    var recap = document.getElementById('recap3503766000534071729');
                                        if (recap != undefined && recap.getAttribute('captcha-verified') == 'false') {
                                            document.getElementById('recapErr3503766000534071729').style.visibility = 'visible';
                                        return false;
                                    }
                                    return true;
                                }
                                function validateEmail3503766000534071729() {
                                    var form = document.forms['WebToLeads3503766000534071729'];
                                    var emailFld = form.querySelectorAll('[ftype=email]');
                                    var i;
                                    for (i = 0; i < emailFld.length; i++){
                                        var emailVal = emailFld[i].value;
                                        if((emailVal.replace(/^\\s+|\s+$/g, '')).length!=0 ) {
                                            var atpos=emailVal.indexOf('@');
                                            var dotpos=emailVal.lastIndexOf('.');
                                            if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length){
                                                alert('Introduzca una dirección de correo electrónico válida. ');
                                                emailFld[i].focus();
                                                emailFld[i].style.border = "2.5px solid #01295f";
                                                setTimeout(() => {
                                                    emailFld[i].style.border = "none";
                                                }, 3000);
                                                return false;
                                            }
                                        }
                                    }
                                    return true;
                                }
                                function validateDateFormat3503766000534071729() {
                                    var form = document.forms['WebToLeads3503766000534071729'];
                                    var dateFlds = form.querySelectorAll('[ftype=date]');
                                    var i;
                                    for (i = 0; i < dateFlds.length; i++) {
                                        var dateFld = dateFlds[i];
                                        var usrPtrn = dateFld.placeholder;
                                        var dateVal = dateFld.value;
                                        if(dateVal.trim() != ''){
                                            var vald = dateFormatConvert.validate(dateVal,usrPtrn);
                                            if(!vald){
                                                alert('Escriba una fecha válida ');
                                                dateFld.focus();
                                                return false;
                                            }
                                        }
                                    }
                                    return true;
                                }
                                function checkMandatory3503766000534071729() {
                                    var dniInput = document.getElementById("LEADCF21");
                                    var dniValue = dniInput.value;
                                    var celInput = document.getElementById("Mobile");
                                    var celValue = celInput.value;
                                    var mndFileds = new Array('First Name','Last Name');
                                    var fldLangVal = new Array('Nombre','Apellidos');
                                    
                                    for(i=0;i<mndFileds.length;i++) {
                                        var fieldObj=document.forms['WebToLeads3503766000534071729'][mndFileds[i]];
                                        if(fieldObj) {
                                            if (((fieldObj.value).replace(/^\\s+|\s+$/g, '')).length==0) {
                                                if(fieldObj.type =='file') {
                                                    alert('Seleccione un archivo para cargar.');
                                                    fieldObj.focus();
                                                    return false;
                                                }
                                                alert(fldLangVal[i] +' no puede estar vacío.');
                                                fieldObj.focus();
                                                return false;
                                            }  else if(fieldObj.nodeName=='SELECT') {
                                                if(fieldObj.options[fieldObj.selectedIndex].value=='Carreras Elegibles*') {
                                                    alert(fldLangVal[i] +' no puede ser nulo.');
                                                    fieldObj.focus();
                                                    return false;
                                                }
                                            } else if(fieldObj.type =='checkbox'){
                                                if(fieldObj.checked == false){
                                                    alert('Please accept  '+fldLangVal[i]);
                                                    fieldObj.focus();
                                                    return false;
                                                }
                                            } 
                                            if (/^\d{8}$/.test(dniValue)||/^\d{20}$/.test(dniValue)) {
                                            } else {
                                                alert("El DNI ingresado no es válido");
                                                fieldObj.focus();
                                                dniInput.style.border = "2.5px solid #01295f";
                                                setTimeout(() => {
                                                    dniInput.style.border = "none";
                                                }, 3000);
                                                return false;
                                            }
                                            if (/^(9)[0-9]{8}$/.test(celValue)) {
                                            } else {
                                                alert("Debe ingresar 9 digitos en el campo celular");
                                                fieldObj.focus();
                                                celInput.style.border = "2.5px solid #01295f";
                                                setTimeout(() => {
                                                    celInput.style.border = "none";
                                                }, 3000);
                                                return false;
                                            }
                                            try {
                                                if(fieldObj.name == 'Last Name') {
                                                name = fieldObj.value;
                                                }
                                            } catch (e) {}
                                        }
                                    }
                                    if(!validateEmail3503766000534071729()){return false;}
                                    if(!privacyAlert3503766000534071729()){return false;}
                                    if(!reCaptchaAlert3503766000534071729()){return false;}
                                    if(!validateDateFormat3503766000534071729()){return false;}
                                    document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
                                }
                                function tooltipShow3503766000534071729(el){
                                    var tooltip = el.nextElementSibling;
                                    var tooltipDisplay = tooltip.style.display;
                                    if(tooltipDisplay == 'none'){
                                        var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
                                        for(i=0; i<allTooltip.length; i++){
                                        allTooltip[i].style.display='none';
                                        }
                                        tooltip.style.display = 'block';
                                    }else{
                                        tooltip.style.display='none';
                                    }
                                }
                                function getUTMParams() {
                                    var params = {};
                                    var queryString = window.location.search;
                                    queryString = queryString.substr(1);
                                    var pairs = queryString.split("&");
                                    for (var i = 0; i < pairs.length; i++) {
                                    var pair = pairs[i].split("=");
                                    params[pair[0]] = pair[1];
                                    }
                                    return params;
                                }
                                // obtener los parámetros UTM y almacenarlos en variables
                                //- let url = window.location.href;
                                var utmParams = getUTMParams();
                                var utmSource = utmParams["utm_source"];
                                var utmMedium = utmParams["utm_medium"];
                                var utmCampaign = utmParams["utm_campaign"];
                                var utmTerm = utmParams["utm_term"];
                                var utmContent = utmParams["utm_content"];
                                var utmId = utmParams["utm_id"];

                                referencia.value = url;

                                let source = document.getElementById('LEADCF183');
                                let medium = document.getElementById('LEADCF189');
                                let campaign = document.getElementById('LEADCF24');
                                let term = document.getElementById('LEADCF184');
                                let content = document.getElementById('LEADCF182');
                                let id = document.getElementById('LEADCF203');

                                if (utmSource){
                                    source.value = utmSource;
                                }else {
                                    source.value = "organico";
                                }
                                if (utmId){
                                    id.value = utmId;
                                }else {
                                    id.value = "";
                                }
                                if (utmMedium){
                                    medium.value = utmMedium;
                                }else {
                                    medium.value = "landing";
                                }
                                if (utmCampaign){
                                    campaign.value = utmCampaign;
                                }else {
                                    campaign.value = "open-cayetano";
                                }
                                if (utmTerm){
                                    term.value = utmTerm;
                                }else {
                                    term.value = "digital";
                                }
                                if (utmContent){
                                    content.value = utmContent;
                                }else {
                                    content.value = "generico";
                                }

                                window.addEventListener("load", function () {
                                    const tiposDocumento = {
                                        DNI: {
                                            maxLength: 8,
                                            value: "",
                                            pattern: "[0-9]{8}",
                                            placeholder: "Ingresa numero de DNI",
                                            title: "Debe contener 8 números",
                                        },
                                        CarnédeExtranjería: {
                                            minLength: 5,
                                            maxLength: 20,
                                            value: "",
                                            pattern: "[0-9]{1,20}",
                                            placeholder: "Ingresa numero de Carnet",
                                            title: "Solo números hasta 20 digitos como maximo",
                                        },
                                        Pasaporte: {
                                            minLength: 6,
                                            maxLength: 20,
                                            value: "",
                                            pattern: "[0-9]{1,20}",
                                            placeholder: "Ingresa numero de Pasaporte",
                                            title: "Solo números hasta 20 digitos como maximo",
                                        },
                                    };
                                    let tipoDocumento = document.getElementById('LEADCF20');
                                    let numeroDocumento = document.getElementById('LEADCF21');
                                    tipoDocumento.addEventListener('change', function() {
                                        const tipo = this.value;
                                        if (tipo in tiposDocumento) {
                                            const datosDocumento = tiposDocumento[tipo];
                                            numeroDocumento.setAttribute('minlength', datosDocumento.minLength);
                                            numeroDocumento.setAttribute('maxlength', datosDocumento.maxLength);
                                            numeroDocumento.setAttribute('pattern', datosDocumento.pattern);
                                            numeroDocumento.value="";
                                            numeroDocumento.setAttribute('value', datosDocumento.value);
                                            numeroDocumento.setAttribute('placeholder', datosDocumento.placeholder);
                                            numeroDocumento.setAttribute('title', datosDocumento.title);
                                        } else {
                                            numeroDocumento.removeAttribute('minlength');
                                            numeroDocumento.removeAttribute('maxlength');
                                            numeroDocumento.removeAttribute('pattern');
                                            numeroDocumento.removeAttribute('placeholder');
                                            numeroDocumento.removeAttribute('title');
                                        }
                                    });   
                                });
                                // SCRIPT
                                // OTHER SCRIPT
                            script#wf_anal(src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=42e2caac6f0c0344d1e62ffdafb95a5d7d3571ff6d536aa6c0e7a7338f8d1179gidc97f82d6293e06539d0f3a6c001f215f068b9d003b173ad35ac95fe75cb8ea7fgid885e3c1045bd9bdcc91bdf30f82b5696gid14f4ec16431e0686150daa43f3210513&tw=61690b96c1d0471b638f31426f38e68aa67fb7ed6da86f32dc10ad817fe55a0a' async)
                            // OTHER SCRIPT
                            // Do not remove this code.
                            iframe(name='captchaFrame' style='display:none;')
        .bloque5
            h3 Hemos culminado con el proceso de postulación para el examen de medicina. Pero te invitamos a explorar nuestras otras 9 carreras de Salud.
        .bloque2
            .bloque2ContainerMovil
                .bloque2ContainerMovilGrid
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__textContador
                           h3
                            | Quedan: 
                            br
                            span.number_days 
                            span  días
                            br
                            span.hours
                            |  h : 
                            span.minutes
                            |  m : 
                            span.seconds
                            |  s
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image_contador-scaled.webp", alt="")
                    //- .bloque2ContainerMovilItem.bloque2ContainerMovilItem2
                    //-     .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem2__text
                    //-         h3 Sábado 7
                    //-             br
                    //-             | de agosto
                    //-             br 
                    //-             span Campus
                    //-             span Central
                    //-     .bloque2ContainerMovilItem__textOther
                    //-         h3
                    //-             span Sábado 17 de agosto
                    //-             br
                    //-             span Desde las 9:30 a.m.
                    //-             br
                    //-             span Campus Central
                    //-             br
                    //-             |  Av. Honorio Delgado 430 - 
                    //-             br
                    //-             |  San Martín de Porres
                    //-     img.image2_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image2-scaled.webp", alt="")
                    //-     img.image2_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image2_back-scaled.webp", alt="")
                    .bloque2ContainerMovilItem2
                        .bloque2ContainerMovilItem12__text
                            h3 Jueves 23 
                                br
                                | de enero
                                br
                                span Campus
                                    br
                                    | Central
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/campus.gif", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem2__text
                            h3
                                | Descubre 
                                br
                                | 
                                span nuestras
                                span.bloque2ContainerMovilItem2-20 21
                                span carreras
                                |  de excelencia
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem2__textOther
                            h3
                                | Conoce sobre nuestras 
                                br
                                span experiencias
                                br
                                span de intercambio,
                                br
                                span plan de estudio,
                                br
                                span docentes y mucho más.
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image6-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image6_back-scaled.webp")
                    //- .bloque2ContainerMovilItem2
                    //-     .bloque2ContainerMovilItem13__text
                    //-         h3 Se parte de la
                    //-             br
                    //-             span universidad N.º 1
                    //-             br
                    //-             span del Perú
                    //-     img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/talleres.gif", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem7__text
                            h3
                                | Somos 
                                span TOP 2 
                                span de universidades
                                | priorizadas por 
                                
                               

                               

                                
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem3__textOther
                            h3
                                | Diseñada para 
                                br
                                span alumnos de 5to. de
                                br
                                span secundaria, egresados y
                                br
                                span padres de familia
                        img.image1_back(src="", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/LP-OPEN-BECA-18-copia-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image11_other-scaled.webp", alt="")
                    .bloque2ContainerMovilItem2
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItemWhite__text.bloque2ContainerMovilItem5__text
                            //- h3 Charlas 
                                
                            //-     br
                            //-     span Cayetano
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/charla-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text
                            //- h3 Postula este                                   
                            //-     br
                            //-     span 2 de febrero
                            //-     span con Beca 18
                              
                                                                
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItemWhite__textOther
                            h3 Demuestra que puedes
                                br 
                                | que puedes
                                br
                                span alcanzar tus metas.
                               
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/postula-1-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image1_back-scaled.webp")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItemWhite__text
                            h3
                                | Sé parte de la 
                                br
                                span Universidad #1
                                span del Perú
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItemWhite__textOther
                            h3
                                | Nuestra 
                                span calidad
                                br
                                span y excelencia
                                br
                                span académica
                                |  son 
                                br
                                |  son ampliamente reconocidas 

                                span nivel
                                br
                                span nacional e
                                br
                                span internacional.
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/se-parte-de-la-universidad-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image5_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image10-scaled.webp", alt="")
                    
                    
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_mid_image3-scaled.webp", alt="")
                    
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem7__text
                            h3 Empleabilidad
                                br
                                span Cayetano
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem7__textOther
                            h3
                                span.bloque2ContainerMovilItem7__textOtherText +1400
                                br
                                span ofertas laborales
                                br
                                |  publicadas en la 
                                br
                                span Bolsa de Trabajo
                                br
                                span Cayetano
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/empleabilidad-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image13_back-scaled.webp")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItemWhite__text.bloque2ContainerMovilItem5__text
                            h3 Vida Universitaria
                                br
                                span Cayetano
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem6__textOther
                            h3
                                | Conoce los 
                                br
                                span talleres artísticos,
                                br
                                span culturales y deportivos
                                br
                                |  que tenemos para ti.
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image12-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image12_back-scaled.webp")
                    
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image7.webp", alt="")
                    
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image8-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem3__text
                            //- h3
                            //-     span.bloque2ContainerMovilItem__textTop +200 
                            //-     span convenios con
                            //-     | universidades 
                            //-     br
                            //-     span TOP MUNDIAL
                    
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem4__textOther
                            h3
                                | Conoce las 
                                br
                                span mejores 
                                br
                                span universidades
                                br
                                span  del mundo 
                                br
                                |  a las que puedes
                                br
                                |  acceder según 
                                br
                                span tu carrera.
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/200conevios-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image7_back-scaled.webp")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem9__text
                            h3
                                span Cayetano
                                | es más que
                                span Cayetano
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem8__textOther
                            h3 Sé parte de una de nuestras 
                                span 21 carreras 
                                | en gestión, ingeniería, ciencias, educación y salud.
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/cayetano-es-mas-que-cayetano-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image14_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image1-scaled.webp", alt="")
                    //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_left_image1-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem9__text
                            h3 Cayetano es
                                br
                                span Gestión
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem9__textOther
                            h3
                                | Descubre nuestra nueva carrera de 
                                span ADMINISTRACIÓN
                                |  y el relanzamiento de la carrera de 
                                span ADMINISTRACIÓN DE LA SALUD
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image17-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image17_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image2-scaled.webp", alt="")
                    .bloque2ContainerMovilItem2
                        .bloque2ContainerMovilItem12__text
                            h3 Charlas 
                                br
                                | para
                                br
                                span Padres
                        img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/charlas.gif", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem10__text
                            h3 Cayetano es
                                br
                                span Ingeniería
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem6__textOther
                            h3
                                | Explora nuestras 
                                span 3 carreras:
                                br
                                span Ingeniería Industrial
                                br
                                span Ingeniería Ambiental
                                br
                                span Ingeniería Informática
                               
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image16-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image16_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image3-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem9__text
                            h3 Cayetano es
                                br
                                span Ciencias
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem9__textOther
                            h3
                                | Conoce nuestras 
                                span 3 carreras:
                                br
                                span Biología, Nutrición, Farmacia y Bioquímica
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image15-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image15_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image4-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem10__text
                            h3 Cayetano es
                                br
                                span Salud
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem10__textOther
                            h3
                                | Descubre nuestras 
                                span  10 carreras:
                                br
                                span
                                    | Psicología / Enfermería / Terapia Ocupacional / Estomatología / Terapia de Audición, Voz y Lenguaje / Medicina Veterinaria y Zootecnia / Radiología / Terapia Física y Rehabilitación / Laboratorio Clínico y Anatomía Patológica
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image18-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image18_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image9-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem9__text
                            h3 Cayetano es
                                br
                                span Educación 
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem9__textOther
                            h3
                                | Explora 
                                span  nuestras 3 carreras:
                                br
                                span Educación / Educación Inicial Intercultural  / Bilingüe / Educación Primaria Intercultural / Bilingüe
                                    
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image19-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image19_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image6-scaled.webp", alt="")
            .bloque2Container
                .bloque2ContainerLeft
                    .bloque2ContainerLeftSticky
                        .bloque2ContainerMovilItem
                            .bloque2ContainerMovilItem__textContador
                                h3
                                    | Quedan: 
                                    br
                                    span.number_days_desktop 
                                    span  días
                                    br
                                    span.hours_desktop
                                    |  h : 
                                    span.minutes_desktop
                                    |  m : 
                                    span.seconds_desktop
                                    |  s
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image_contador-scaled.webp", alt="")
                        .bloque2ContainerMovilItem2
                            .bloque2ContainerMovilItem12__text
                                h3 Jueves 23 
                                    br
                                    | de enero
                                    br
                                    span Campus
                                        br
                                        | Central
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/campus.gif", alt="")
                        .bloque2ContainerMovilItem.imgbeca18
                            .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem9__text
                                //- h3 Somos TOP 2 
                                  
                                //-    span de universidades
                                //-    | priorizadas por
                                //-    br
                               
                                   
                                   

                                   
                                 
                                                                       
                                  
                            //- .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem3__textOther
                            //-     h3
                            //-         | Diseñada para 
                            //-         br
                            //-         span alumnos de 5to. de
                            //-         br
                            //-         span secundaria, egresados y
                            //-         br
                            //-         span padres de familia
                           
                            img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/LP-OPEN-BECA-18-copia-scaled.webp", alt="")
                            img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/LP-OPEN-BECA-18-copia-scaled.webp")
                            //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image11_other-scaled.webp", alt="")
                        .bloque2ContainerMovilItem2
                            .bloque2ContainerMovilItem__text.bloque2ContainerMovilItemWhite__text
                                //- h3 Charlas
                                
                                //-     br
                                //-     span Cayetano
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/charla-scaled.webp", alt="")
                        .bloque2ContainerMovilItem
                            .bloque2ContainerMovilItem__text
                                //- h3 Postula este
                                    
                                //-     span 2 de febrero
                                //-     |
                                //-     span Beca 18
                            .bloque2ContainerMovilItem__textOther
                                h3 Demuestra 
                                   br
                                   | que puedes
                                   br
                                   span alcanzar
                                   br
                                   span  tus metas.
                                    

                                    
                                    
                            img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/postula-1-scaled.webp", alt="")
                            img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image1_back-scaled.webp")
                            //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_left_image4-scaled.webp", alt="")
                        .bloque2ContainerMovilItem2
                            .bloque2ContainerMovilItem13__text
                                h3 Charlas 
                                    br
                                    | para
                                    br
                                    span Padres
                            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/charlas.gif", alt="")
                .bloque2ContainerMid
                    .bloque2ContainerMidSticky
                        .bloque2ContainerMovilItem
                            .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem2__text
                                h3
                                    | Descubre 
                                    br
                                    | 
                                    span nuestras
                                    span.bloque2ContainerMovilItem2-20 21
                                    span carreras
                                    span  de excelencia
                            .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem2__textOther
                                h3
                                    | Conoce sobre nuestras 
                                    br
                                    span experiencias
                                    br
                                    span de intercambio,
                                    br
                                    span plan de estudio,
                                    br
                                    span docentes y más.
                            img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image6-scaled.webp", alt="")
                            img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image6_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image8-scaled.webp", alt="")
                        .bloque2ContainerMovilItem
                            .bloque2ContainerMovilItem__text.bloque2ContainerMovilItemWhite__text
                                h3
                                    | Sé parte de la 
                                    br
                                    span Universidad #1
                                    span del Perú
                            .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItemWhite__textOther
                                h3
                                    | Nuestra 
                                    span calidad
                                    br
                                    span y excelencia
                                    br
                                    span académica
                                    |  son ampliamente
                                    br
                                    |  reconocidas a 
                                    span nivel
                                    br
                                    span nacional e
                                    br
                                    span internacional.
                            img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/se-parte-de-la-universidad-scaled.webp", alt="")
                            img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image5_back-scaled.webp")
                            //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image10-scaled.webp", alt="")
                        .bloque2ContainerMovilItem
                            .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem3__text
                                //- h3
                                //-     span.bloque2ContainerMovilItem__textTop +200 
                                //-     span convenios 
                                //-     | con
                                //-     |  universidades 
                                //-     br
                                //-     span TOP MUNDIAL
                            .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem4__textOther
                                h3
                                    | Conoce las 
                                    br
                                    span mejores
                                    br
                                    span universidades
                                    br
                                    span del mundo 
                                    br
                                    |  a las que 
                                    br
                                    |  acceder según  
                                    br
                                    span tu carrera.
                            img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/200conevios-scaled.webp", alt="")
                            img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image7_back-scaled.webp")
                            //- img.open_mid_image3(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_mid_image3-scaled.webp", alt="")
                .bloque2ContainerRight
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem9__text
                            h3
                                span Cayetano
                                | es más que
                                span Cayetano
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem8__textOther
                            h3 Sé parte de una de nuestras 
                                span 21 carreras 
                                | en gestión, ingeniería, ciencias, educación y salud.
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/cayetano-es-mas-que-cayetano-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image14_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image1-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem9__text
                            h3 Cayetano es
                                br
                                span Gestión
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem9__textOther
                            h3
                                | Descubre nuestra nueva carrera de 
                                span ADMINISTRACIÓN
                                |  y el relanzamiento de la carrera de 
                                span ADMINISTRACIÓN DE LA SALUD
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image17-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image17_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image2-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem10__text
                            h3 Cayetano es
                                br
                                span Ingeniería
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem6__textOther
                            h3
                                | Explora nuestras 
                                span 3 carreras:
                                br
                                span Ingeniería Industrial
                                br
                                span Ingeniería Ambiental
                                br
                                span Ingeniería Informática
                                
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image16-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image16_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image3-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem9__text
                            h3 Cayetano es
                                br
                                span Ciencias
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem9__textOther
                            h3
                                | Conoce nuestras 
                                span 3 carreras:
                                br
                                span Biología, Nutrición, Farmacia y Bioquímica
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image15-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image15_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image4-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem10__text
                            h3 Cayetano es
                                br
                                span Salud
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem10__textOther
                            h3
                                | Descubre nuestras 
                                span  9 carreras:
                                br
                                span
                                    | Psicología / Enfermería / Terapia Ocupacional / Estomatología / Terapia de Audición, Voz y Lenguaje / Medicina Veterinaria y Zootecnia / Radiología / Terapia Física y Rehabilitación / Laboratorio Clínico y Anatomía Patológica
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image18-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image18_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image9-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem9__text
                            h3 Cayetano es
                                br
                                span Educación
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem9__textOther
                            h3
                                | Explora
                                span  nuestras 3 carreras:
                                br
                                span Educación / Educación Inicial Intercultural / Educación Inicial Intercultural Bilingüe
                              

                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image19-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image19_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image6-scaled.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItemWhite__text.bloque2ContainerMovilItem5__text
                            h3 Vida Universitaria
                                br
                                span Cayetano
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem6__textOther
                            h3
                                | Conoce los 
                                br
                                span talleres artísticos,
                                br
                                span culturales y deportivos
                                br
                                |  que tenemos para ti.
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image12-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image12_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image7.webp", alt="")
                    .bloque2ContainerMovilItem
                        .bloque2ContainerMovilItem__text.bloque2ContainerMovilItem7__text
                            h3 Empleabilidad
                                br
                                span Cayetano
                        .bloque2ContainerMovilItem__textOther.bloque2ContainerMovilItem7__textOther
                            h3
                                span.bloque2ContainerMovilItem7__textOtherText +1400
                                br
                                span ofertas laborales
                                br
                                |  publicadas en la 
                                br
                                span Bolsa de Trabajo
                                br
                                span Cayetano
                        img.image1_back(src="https://lp.cayetano.edu.pe/wp-content/uploads/2025/01/empleabilidad-scaled.webp", alt="")
                        img.image1_back_other(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_image13_back-scaled.webp")
                        //- img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_right_image8-scaled.webp", alt="")
        .bloque3
            .bloque3Container
                .bloque3Text Descubre por qué Cayetano es más que Cayetano.
                .bloque3Text Descubre por qué Cayetano es más que Cayetano.
                .bloque3Text Descubre por qué Cayetano es más que Cayetano.
                .bloque3Text Descubre por qué Cayetano es más que Cayetano.
                .bloque3Text Descubre por qué Cayetano es más que Cayetano.
        .bloque4
            .bloque4Container
                .bloque4ContainerLogos
                    img.logo_left(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_logo_bottom.webp", alt="")
                    h3 
                        a(target="_blank" href="https://www.google.com/maps/place/Universidad+Peruana+Cayetano+Heredia/@-12.0239773,-77.0565049,17z/data=!3m1!4b1!4m6!3m5!1s0x91059e92c1e829d3:0xd040682b45cb97e5!8m2!3d-12.0239773!4d-77.0565049!16zL20vMDh5Y3pn?entry=ttu") Campus Central: Av. Honorio Delgado 430 Urb. Ingeniería, San Martín de Porres
                    img.logo_right(src="https://lp.cayetano.edu.pe/wp-content/uploads/2024/07/open_logo_bottom2.webp", alt="")
        script(src="./js/script.js" async)
        //- script(src="https://unpkg.com/swiper/swiper-bundle.min.js")